h2 {
  text-align: center;
}

.add-button {
  padding: 10px;
  background-color: #007bff; 
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.add-button:hover {
  background-color: #0056b3; 
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
}

.update-button, .delete-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.update-button:hover, .delete-button:hover {
  background-color: #0056b3;
}
