<h2>Employee List</h2>

<button class="add-button">Add Employee</button>


<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Department</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let employee of employee">
    <td>{{ employee.id }}</td>
    <td>{{ employee.name }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.role.name }}</td>
    <td>{{ employee.department.name }}</td>
    <td>
      <button class="update-button">Update</button>
      <button class="delete-button" >Delete</button>
    </td>
  </tr>
</table>
