<nav class="navbar-container">
    <div class="logo">
        <img src="https://thenounproject.com/api/private/icons/4224290/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkYqsgNHET3zqgybOkwjuyW33e32JoZ1KVKSwjd4XnbYTT5AnDdSWvnygj28Vhf6lcLhG1pqlr84V5ty8r_d-enWNp_w%3D%3D" alt="CEO Logo">
      </div>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/employee">Employees</a></li>
      <li><a routerLink="/departments">Departments</a></li>
      <li><a routerLink="/roles">Roles</a></li>
      
    </ul>
    <a class="login-link" routerLink="/login">Login</a>
  </nav>