.navbar-container {
    display: flex;
    justify-content: center;
  }

nav {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
  }
  
  .logo img {
    height: 50px; 
    width: auto; 
    margin-left: -450px;
  
  }
  
  ul {
    list-style-type: none; 
    margin: 5px;
    padding: 5px;
  }
  
  li {
    display: inline-block; 
    margin-right: 50px; 
  }
  
  a {
    color: #fff; 
    text-decoration: none; 
  }
  
  a:hover {
    text-decoration: underline; 
  }

  .login-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    
  }
  
  